<fieldset>
  <div class="control-group form ">

      <div class = "control-group">
        <label for="section_name">Name</label>
        <input id="section_name" name="section[name]" type="text" value="<%= @section.name %>">
      </div>
  </div>
</fieldset>

