<h2>Edit this lesson:</h2>

<form action="/lessons/<%= @lesson.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="lesson_name">Name</label>
  <input id="lesson_name" name="lesson[name]" type="text">
  <label for="lesson_description">Description</label>
  <input id="lesson_description" name="lesson[description]" type="text">
  <label for="lesson_number">Lesson number</label>
  <input id="lesson_number" name="lesson[number]" type="number">
 <button class='btn btn-primary'>Update Lesson</button>
 </form>
</form>
