<h2>Edit this lesson:</h2>

<% if @lesson.errors.any? %>
  <div class="alert alert-warning" role="alert">
  <h5>There was an error with your submission.</h5>
    <% @lesson.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </div>
<% end %>

<div class = 'row centered'
  <form action="/lessons/<%= @lesson.id %>" method="post" class='form-horizontal'>

    <%= render('lesson_form') %>
    <button class = 'btn btn-primary'>Update Lesson</button>

  </form>
</div>
<a href='/lessons/<%= @lesson.id %>'
    data-confirm="Are you sure?"
    data-method="delete"
    rel='nofollow'>Delete</a>
