<div class="container-fluid">
  <h1>Lessons</h1>

  <ol>
    <% @sections.each do |section| %>
      <li>
        <a href="../sections/<%= section.id %>"> <%= section.name %></a><br>
        <ul>
          <% section.lessons.each do |lesson| %>
          <li id="lesson_names">
            <a href="../lessons/<%= lesson.id %>"><%= lesson.name %></a>
          </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ol>
</div>
