/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// .external_container {
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-left: auto;
//   margin-right: auto;
// }


.jumbotron {
  background: #7fc3cc;
  color: #e9e9e9;

}

.right-padding {
  margin-right: 20px;
}

body {
  background: #ddd;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.row {
  margin: 0 auto;
  padding: 0 auto;
}



.list_item {
  padding-left:10px;
  background: #eee;
  // width:30%;
  display: inline-block;

}

.alert {
  margin-top: 10px;
}

#footer {
  display: block;
  height: 50px;
  background: lightblue;
  bottom: 0px;
}

.navbar-inverse a {
  color: #e9e9e9;
}


#lesson_description  {
  color: #333;
  width: 100%;
  height: 7em;
  padding-bottom: 10px;
}

.form label{
  display:block;
  font-weight:bold;
  width: 100%;

}

.form input{
  width: 100%;
  display: block;
  border:solid 1px #aacfe4;
  margin:0 0 20px 0;
}

