<div class = "list">
  <h3>Select a lesson:</h3>
  <div class = "list clearfix center-block">
    <% @lessons.each do |lesson| %>
     <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
    <% end %>
  </div>
</div>
