<div class = "list">
  <h3>Select a lesson:</h3>
    <ul class = "list clearfix center-block">
    <% @lessons.each do |lesson| %>
       <li><%= lesson.number %>
        <a href="/lessons/<%= lesson.id %>" class ="list_item">
          <%= lesson.name %></a></li>
    <% end %>
  </ul>

</div>
